body {
  background: #313335;
  color: white;
  font-family: sans-serif;
}

main {
  width: 1162px;
  margin:auto;
  display: flex;
  flex-direction: row;
}

#artboard {
  background: blue;
  display: table;
  border: 1px #313335 solid;
  width: 600px;
  height: 600px;8
}

/* #tool-picker {
  width: 200px;
}

#color-picker {
  width: 150px;
} */

#save-list {
  overflow: scroll;
}

.saved-item {
  border: 1px #313335 solid;
  padding: 10px;
}

.studio-wrapper {
  height: 520px;
  background: #5a5b5d;
  padding: 40px;
  width: 200px;
}

.row {
  background: orange;
  display: table-row;
}

.pixel {
  display: table-cell;
  border: .2px #313335 solid;
  background: pink;
}

.color-well {
  display: inline-block;
  height: 25px;
  width: 25px;
  margin: 5px;
  border: #313335 2px solid;
  border-radius: 100px;
  background: pink;
}

.tool {
  display: inline-block;
  height: 25px;
  width: 25px;
  margin: 5px;
  border: #313335 2px solid;
  border-radius: 100px;
  margin-bottom: 20px;
}

.active {
  border: solid white 2px;
}
